{% extends 'base.html.j2' %}

{% block title %}FoxConnect | {{ obj.compound }}:{{ obj.name }}{% endblock %}

{% block head %}
{# <script src="https://unpkg.com/d3@7.9.0/dist/d3.min.js"></script> #}
{# <script src="https://unpkg.com/@hpcc-js/wasm@2.16.2/dist/graphviz.umd.js" type="javascript/worker"></script> #}
{# <script src="https://unpkg.com/d3-graphviz@5.4.0/build/d3-graphviz.min.js"></script> #}
<script src="{{ url_for('d3graphviz.static', filename='d3/dist/d3.js') }}"></script>
<script src="{{ url_for('d3graphviz.static', filename='@hpcc-js/wasm/dist/graphviz.umd.js') }}" type="javascript/worker"></script>
<script src="{{ url_for('d3graphviz.static', filename='d3-graphviz/build/d3-graphviz.js') }}"></script>
<link href="{{ url_for('blocks.static', filename='diagram.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<input type="hidden" id="compound" name="compound" value="{{ obj.compound }}">
<input type="hidden" id="block" name="block" value="{{ obj.name }}">
<input type="hidden" id="depth" name="depth" value="{{ depth }}">
<div class="vstack gap-0">
  <div>{% include 'header.html.j2' %}</div>
  <div id="diagram-container"></div>
</div>
{% endblock %}

{% block tail %}
<script src="{{ url_for('blocks.static', filename='diagram.js') }}"></script>
{% endblock %}