{% extends 'base.html.j2' %}

{% block title %}FoxConnect | Error {{ error.code }}: {{ error.name }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col text-center py-3">
    {% include "error_content.html.j2" %}
  </div>
</div>
{% endblock %}
