{% extends 'base.html.j2' %}

{% block title %}FoxConnect | Search{% endblock %}

{% block head %}
<link href="{{ url_for('search.static', filename='search.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include "index_modal.html.j2" %}

<div class="row">
  <div class="col table-responsive">
    <table class="table table-sm table-hover align-middle">
      <thead id="table-head"></thead>
      <tbody id="table-body" class="table-group-divider">
    </table>
  </div>
</div>

<div class="row" id="spinner">
  <div class="col text-center">
    <div class="spinner-border m-5" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>

<div class="row align-middle">
  <div class="col text-start"></div>
  <div id="pagination" class="col text-center"></div>
  <div class="col text-end"><small id="result-total" class="text-body-secondary"></small></div>
</div>
{% endblock %}

{% block tail %}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="{{ url_for('search.static', filename='search.js') }}"></script>
{% endblock %}