html, body { 
  height: 100%;
}

 .disable-hover {
  pointer-events: none !important;
}

.select-list {
  max-height: 400px;
}

.cb-dropdown-box {
  min-width: 600px;
}

.select-list a:hover {
  cursor: pointer;
}

.header-row {
  height: 72px;
}

.content-row {
  height: -moz-calc(100% - 72px);
  height: -webkit-calc(100% - 72px);
  height: calc(100% - 72px);
  overflow: auto;
}